
{{#each model as |contact|}}
  <div class="card">
    <div class="card-image">
      <img src="{{contact.image}}" />
    </div>
    <div class="content">
      <div class="location">{{contact.location}}</div>
      <img class="avatar" src="https://avatars.io/twitter/{{contact.twitter}}">
      <h1>{{contact.name}}</h1>
      <h2>{{contact.role}}</h2>
      <h3>Currently at: {{contact.company}}</h3>
      <p>{{contact.info}}</p>
      <a href="mailto:{{contact.email}}">{{contact.email}}</a> |
      <a href="http://www.twitter.com/{{contact.twitter}}">@{{contact.twitter}}</a>
    </div>
  </div>
{{/each}}
